.st-font{
    font-family: 'Satisfy', cursive;
}
html,body{
    height:100%;
}
.container-fluid{
    min-height: 100%;
}
.i-color{
    color: rgb(16, 164, 38);
}
.paragraph{
color: silver;
}
a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: #d8b95c;
}
a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}