{% extends 'base.html' %} 
{% load static %}
 {% block content %}
<div class="container mt-5">
  <h1 class="text-warning border-bottom mb-5">SERVICES</h1>
  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
      <h3>SEO</h3>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
       
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
      <h3>Web Design</h3>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
        
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
      <h3>Web Development</h3>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
       
      </p>
    </div>
</div>
    <div class="row text-center text-white mb-5">
      <div class="col-sm-4">
        <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
        <h3>SEO</h3>
        <p class="paragraph">
          Lorem, ip class="paragraph"sum dolor sit amet consectetur adipisicing elit. Fugit,
         
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
        <h3>Web Design</h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
        <h3>Web Development</h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
         
        </p>
      </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
          <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color "></i>
          <h3>SEO</h3>
          <p class="paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
           
          </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="paragraph">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
             
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="paragraph">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, numquam
             
            </p>
          </div>
        
     

   
  </div>
</div>
{% endblock content %}